*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}
.container{
  max-width: 100%;
}
.bodyHome{
  background-color: #fff;
}

.cuerpo-inicio{
  margin-top: 50px;
}

.bienvenido{
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton{
  width: 110px;
}
.salir{
  display: flex;
  justify-content: center;
  align-items: center;
}
   section{
     margin-top: 50px;
   }
   .foto{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
   }
   .img-perfil{
     display: block;
     /* width: 200%;
     height: 250px; */
   }
   .informacion{
     display: flex;
     justify-content: center;
   }

      .post{
        margin-top: 50px;
        border-bottom: 2px;
        border-bottom-style: solid;
        border-bottom-color: lightgrey;
      }
