*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
.container{
  max-width: 100%;
  padding: 0;
}
.imagen{
  background-image: url(../images/free.jpg);
  background-repeat: no-repeat;
  height: 500px;
}
  .barra{
    padding-top: 10px;
  }
  .lista{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
   h1{
     display: flex;
     justify-content: center;
     color: #000;
   }
   .title{
     display: flex;
     justify-content: center;
     margin-top: 100px;
   }
     .items{
       color: #000;
     }
     .items:hover{
       text-decoration: none;
       color: #000;
     }

    .cuerpo{
      margin-top: 50px;
      display: flex;
      justify-content: center;
    }
     .article{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-around;
       margin-top: 30px;
       -webkit-box-shadow: 0.5px 0.5px 0px lightgrey;
     }

       .txt{
         margin-top: 30px;
         margin-bottom: 30px;
         text-align: center;
       }

       footer{
          padding: 30px;
          /*color agregado de uigradients*/
          background: #ad5389;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          /*fin del color*/
          color: #FFC82B;
          text-align: center;
        }
/*-----------------RESPONSIVE HOME ---------------------------------------------*/
          /* @media (min-width: 1200px) {
            .container{
              max-width: 100%;
            }
          }

          @media (min-width: 780px) {
            .container{
              max-width: 100%;
            }
            .carousel{
              padding: 0 20px;
              width: 100%;
            }
          }

          @media (max-width: 780px) {
          .container{
              max-width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
            }
          .main-header{
              position: relative;
            }
          .nav-header{
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
            }
          .lista{
           display: flex;
           flex-direction: column;
           align-items: center;
           border-color: #FFC82B;
          }
          .imgns{
            display: none;
          }
          .carousel{
           margin-top: 0;
          }
          .itemsF{
            display: none;
          }
        } */
