*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bodyHome{
  background-color: gray;
}
  .main-header{
    position: fixed;
    top:0;
    z-index: 1;
    width: 98%;

  }
  .nav-header{
  background: #725385;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  }
    .title{
      margin: 15px;
      margin-left: 35px;
      margin-top: 25px;
      font-family: 'Indie Flower', cursive;
      color: #FFC82B;
    }
      .lista{
        list-style: none;
        overflow: hidden;
        margin-bottom: 15px;
        margin-top: 10px;
      }
        .item{
          float: right;
          display: block;
          text-decoration: none;
          font-size: 18px;
          padding-right: 70px;
          padding-top: 25px;
        }
           .items{
             color: #FFC82B;;
           }
           .carousel{
            margin-top: 100px;
           }
           .carousel-indicators{
             margin-bottom: 5px;
           }
           .its{
             display: flex;
             justify-content: space-around;
           }
           .imgns{
             border-radius: 20px;
             margin: 30px
           }
            .texto{
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              padding: 30px;
            }
                h3{
                color: #FFC82B;
                text-align: center;
                }
                p{
                  color: #FFC82B;
                }
                  #prev{
                    flex-direction: column;
                    align-items: flex-start;
                  }
                  #next{
                    flex-direction: column;
                    align-items: flex-end;
                  }
        footer{
          padding: 30px;
          background-color: #725385;
          color: #FFC82B;
          text-align: center;
          border-radius: 25px;
        }
/*-----------------RESPONSIVE HOME ---------------------------------------------*/
          @media (min-width: 1200px) {
            .container{
              max-width: 100%;
            }
            .texto-resp{
              display: none;
            }
          }

          @media (min-width: 780px) {
            .container{
              max-width: 100%;
            }
            .carousel{
              padding: 0 20px;
            }
            .texto-resp{
              display: none;
            }
          }

          @media (max-width: 780px) {
          .container{
              max-width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
            }
          .main-header{
              position: relative;
            }
          .nav-header{
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
            }
          .lista{
           display: flex;
           flex-direction: column;
           align-items: center;
           border-color: #FFC82B;
          }
          .carousel{
            display: none;
          }

        }
