*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bodyHome{
  background-color: gray;
}

.nav-header{
  background: #725385;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  }
    .title{
      margin: 15px;
      margin-left: 35px;
      margin-top: 25px;
      font-family: 'Indie Flower', cursive;
      color: #FFC82B;
    }
      .lista{
        list-style: none;
        overflow: hidden;
        margin-bottom: 20px;
      }
        .item{
          float: right;
          display: block;
          text-decoration: none;
          font-size: 18px;
          padding-right: 70px;
          padding-top: 25px;
        }
           .items{
             color: #FFC82B;;
           }
           .carousel{
            margin-top: 20px;
           }
           .carousel-indicators{
             margin-bottom: 5px;
           }
           .its{
             display: flex;
             justify-content: space-around;
           }
           .imgns{
             border-radius: 20px;
             margin: 30px
           }
            .texto{
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              padding: 30px;
            }
                h3{
                color: #FFC82B;
                text-align: center;
                }
                p{
                  color: #FFC82B;
                }
                  #prev{
                    flex-direction: column;
                    align-items: flex-start;
                  }
                  #next{
                    flex-direction: column;
                    align-items: flex-end;
                  }
        footer{
          padding: 30px;
          background-color: #725385;
          color: #FFC82B;
          text-align: center;
          border-radius: 25px;
        }
/*-----------------media query HOME---------------------------------------------*/
          @media (min-width: 1200px) {
            .container{
              max-width: 100%;
            }


/*--------------------------------login---------------------------------------*/

.login{
  background-color: gray;
  }
  .container-login{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  }
    .titulo{
     text-align: center;
     }
      .login{
       background-color: white;
       width: 100%;
       }
        .foot{
         text-align: center;
         }


         /*-------------------------------- registro ---------------------------------------*/
.titleRegister{
  background-color: green;
}

label{
  padding: 80px, 30px;
}
